<a href="https://colab.research.google.com/github/eunsol123/ai/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'Alice'
age = 25
address = '''우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호'''
boyfriend = None
height = 168.5

print(name)
print(age)
print(address)
print(boyfriend)
print(height)

Alice
25
우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호
None
168.5

In [7]:
name = input('당신의 이름을 입력하세요 : ')
age = input('당신의 이름을 입력하세요 : ')

# 1 기본
print('당신의 이름은',name, '이고, 나이는',age, '입니다.')

# 2 f-string
print(f'당신의 이름은 {name} 이고, 나이는 {age} 입니다.')

# 3 format()
print('당신의 이름은 {} 이고, 나이는 {} 입니다.'.format(name,age))

#4 연산자
print('당신의 이름음 %s 이고, 나이는 %s 입니다.'%(name,age))

당신의 이름을 입력하세요 : 조은솔
당신의 이름을 입력하세요 : 22
당신의 이름은 조은솔 이고, 나이는 22 입니다.
당신의 이름은 조은솔 이고, 나이는 22 입니다.
당신의 이름은 조은솔 이고, 나이는 22 입니다.
당신의 이름음 조은솔 이고, 나이는 22 입니다.

In [20]:
d = int(input('할부 개월 입력 :'))

s = 50000
m = s/d

# 1 기본
print(d,'개월 동안 매달 내는 금액은 ',m,'원 입니다.')

# 2 f-string
print(f'{d} 개월 동안 매달 내는 금액은 {m} 원 입니다.')

# 3 format()
print('{} 개월 동안 매달 내는 금액은 {} 원 입니다.'.format(d,m))

#4 연산자
print('%d개월 동안 매달 내는 금액은 %.1f 원 입니다.'%(d,m))

할부 개월 입력 :5
5 개월 동안 매달 내는 금액은  10000.0 원 입니다.
5 개월 동안 매달 내는 금액은 10000.0 원 입니다.
5 개월 동안 매달 내는 금액은 10000.0 원 입니다.
5개월 동안 매달 내는 금액은 10000.0 원 입니다.

In [21]:

f1 = float (input('실수 1 입력 :'))
f2 = float (input('실수 2 입력 :'))

sum = f1+f2

print(f'{f1}와 {f2} 합은 {sum} 입니다.')

실수 1 입력 :0.5
실수 2 입력 :0.2
0.5과 0.2 합은 0.7 입니다.